In [23]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [24]:
# Download Ticker Data
aapl = yf.download('AAPL', start='2015-01-01', end='2025-01-01')
aapl

/var/folders/hd/v_sj_zm17_v3crh1mgprjhrm0000gn/T/ipykernel_21235/3662547276.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  aapl = yf.download('AAPL', start='2015-01-01', end='2025-01-01')
[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open     Volume
Ticker            AAPL        AAPL        AAPL        AAPL       AAPL
Date
2015-01-02   24.261049   24.729272   23.821673   24.718176  212818400
2015-01-05   23.577576   24.110152   23.391175   24.030265  257142000
2015-01-06   23.579798   23.839428   23.218089   23.641931  263188400
2015-01-07   23.910437   24.010294   23.677434   23.788387  160423600
2015-01-08   24.829128   24.886824   24.121246   24.238858  237458000
...                ...         ...         ...         ...        ...
2024-12-24  257.286682  257.296626  254.386957  254.586262   23234700
2024-12-26  258.103729  259.179926  256.718662  257.276679   27237100
2024-12-27  254.685883  257.784897  252.164833  256.917949   42355300
2024-12-30  251.307861  252.603266  249.862994  251.337754   35557500
2024-12-31  249.534164  252.384048  248.547661  251.547023   39480700

[2516 rows x 5 columns]

In [25]:
# Download Multiple Ticker Data
tickers = ['AAPL', 'SPY', 'KO']
stocks = yf.download(tickers, start='2015-01-01', end='2025-01-01')
stocks

/var/folders/hd/v_sj_zm17_v3crh1mgprjhrm0000gn/T/ipykernel_21235/1373692006.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  stocks = yf.download(tickers, start='2015-01-01', end='2025-01-01')
[*********************100%***********************]  3 of 3 completed

Price            Close                               High             \
Ticker            AAPL         KO         SPY        AAPL         KO
Date
2015-01-02   24.261049  30.222620  171.568008   24.729272  30.409092
2015-01-05   23.577576  30.222620  168.469589   24.110152  30.817894
2015-01-06   23.579798  30.452120  166.882767   23.839428  30.796373
2015-01-07   23.910437  30.832241  168.962357   24.010294  30.918304
2015-01-08   24.829128  31.205175  171.960541   24.886824  31.248208
...                ...        ...         ...         ...        ...
2024-12-24  257.286682  61.939281  597.729492  257.296626  61.939281
2024-12-26  258.103729  61.673149  597.769348  259.179926  61.840714
2024-12-27  254.685883  61.554871  591.476868  257.784897  62.047704
2024-12-30  251.307861  61.140888  584.727173  252.603266  61.446446
2024-12-31  249.534164  61.367588  582.599915  252.384048  61.535153

Price                          Low                               Open  \
Ticker             SPY        AAPL         KO         SPY        AAPL
Date
2015-01-02  172.779008   23.821673  29.978773  170.524052   24.718176
2015-01-05  170.682773   23.391175  30.179590  168.160582   24.030265
2015-01-06  169.304741   23.218089  30.294339  166.081002   23.641931
2015-01-07  169.304778   23.677434  30.538191  167.768076   23.788387
2015-01-08  172.177692   24.121246  30.911125  170.365385   24.238858
...                ...         ...        ...         ...         ...
2024-12-24  597.769293  254.386957  61.121176  591.934094  254.586262
2024-12-26  598.902533  256.718662  61.505588  594.528696  257.276679
2024-12-27  594.230439  252.164833  61.318309  587.252104  256.917949
2024-12-30  588.226291  249.862994  60.795906  580.939799  251.337754
2024-12-31  587.132835  248.547661  60.914182  580.949738  251.547023

Price                                 Volume
Ticker             KO         SPY       AAPL        KO        SPY
Date
2015-01-02  30.308683  172.361426  212818400   9921100  121465900
2015-01-05  30.617077  170.515742  257142000  26292600  169632600
2015-01-06  30.416261  168.778583  263188400  16897500  209151400
2015-01-07  30.695972  168.219060  160423600  13412300  125346700
2015-01-08  30.968502  170.382079  237458000  21743600  147217800
...               ...         ...        ...       ...        ...
2024-12-24  61.308456  592.520617   23234700   5019100   33160100
2024-12-26  61.722432  595.940247   27237100   7943800   41219100
2024-12-27  61.554871  593.991813   42355300   8542800   64969300
2024-12-30  61.446446  584.399176   35557500   8972200   56578800
2024-12-31  61.131030  586.407129   39480700   9256700   57052700

[2516 rows x 15 columns]

In [26]:
# Show Start of DataFrame
stocks.head()

Price           Close                              High             \
Ticker           AAPL         KO         SPY       AAPL         KO
Date
2015-01-02  24.261049  30.222620  171.568008  24.729272  30.409092
2015-01-05  23.577576  30.222620  168.469589  24.110152  30.817894
2015-01-06  23.579798  30.452120  166.882767  23.839428  30.796373
2015-01-07  23.910437  30.832241  168.962357  24.010294  30.918304
2015-01-08  24.829128  31.205175  171.960541  24.886824  31.248208

Price                         Low                              Open  \
Ticker             SPY       AAPL         KO         SPY       AAPL
Date
2015-01-02  172.779008  23.821673  29.978773  170.524052  24.718176
2015-01-05  170.682773  23.391175  30.179590  168.160582  24.030265
2015-01-06  169.304741  23.218089  30.294339  166.081002  23.641931
2015-01-07  169.304778  23.677434  30.538191  167.768076  23.788387
2015-01-08  172.177692  24.121246  30.911125  170.365385  24.238858

Price                                 Volume
Ticker             KO         SPY       AAPL        KO        SPY
Date
2015-01-02  30.308683  172.361426  212818400   9921100  121465900
2015-01-05  30.617077  170.515742  257142000  26292600  169632600
2015-01-06  30.416261  168.778583  263188400  16897500  209151400
2015-01-07  30.695972  168.219060  160423600  13412300  125346700
2015-01-08  30.968502  170.382079  237458000  21743600  147217800

In [27]:
# Show End of DataFrame
stocks.tail()

Price            Close                               High             \
Ticker            AAPL         KO         SPY        AAPL         KO
Date
2024-12-24  257.286682  61.939281  597.729492  257.296626  61.939281
2024-12-26  258.103729  61.673149  597.769348  259.179926  61.840714
2024-12-27  254.685883  61.554871  591.476868  257.784897  62.047704
2024-12-30  251.307861  61.140888  584.727173  252.603266  61.446446
2024-12-31  249.534164  61.367588  582.599915  252.384048  61.535153

Price                          Low                               Open  \
Ticker             SPY        AAPL         KO         SPY        AAPL
Date
2024-12-24  597.769293  254.386957  61.121176  591.934094  254.586262
2024-12-26  598.902533  256.718662  61.505588  594.528696  257.276679
2024-12-27  594.230439  252.164833  61.318309  587.252104  256.917949
2024-12-30  588.226291  249.862994  60.795906  580.939799  251.337754
2024-12-31  587.132835  248.547661  60.914182  580.949738  251.547023

Price                                Volume
Ticker             KO         SPY      AAPL       KO       SPY
Date
2024-12-24  61.308456  592.520617  23234700  5019100  33160100
2024-12-26  61.722432  595.940247  27237100  7943800  41219100
2024-12-27  61.554871  593.991813  42355300  8542800  64969300
2024-12-30  61.446446  584.399176  35557500  8972200  56578800
2024-12-31  61.131030  586.407129  39480700  9256700  57052700

In [28]:
# Show DataFrame Info
stocks.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2516 entries, 2015-01-02 to 2024-12-31
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   (Close, AAPL)   2516 non-null   float64
 1   (Close, KO)     2516 non-null   float64
 2   (Close, SPY)    2516 non-null   float64
 3   (High, AAPL)    2516 non-null   float64
 4   (High, KO)      2516 non-null   float64
 5   (High, SPY)     2516 non-null   float64
 6   (Low, AAPL)     2516 non-null   float64
 7   (Low, KO)       2516 non-null   float64
 8   (Low, SPY)      2516 non-null   float64
 9   (Open, AAPL)    2516 non-null   float64
 10  (Open, KO)      2516 non-null   float64
 11  (Open, SPY)     2516 non-null   float64
 12  (Volume, AAPL)  2516 non-null   int64
 13  (Volume, KO)    2516 non-null   int64
 14  (Volume, SPY)   2516 non-null   int64
dtypes: float64(12), int64(3)
memory usage: 314.5 KB

In [38]:
# Write and Read DataFrame to CSV
stocks.to_csv('stocks.csv')
stocks = pd.read_csv('stocks.csv', header=[0,1], index_col=0, parse_dates=[0])
stocks

Price            Close                               High             \
Ticker            AAPL         KO         SPY        AAPL         KO
Date
2015-01-02   24.261049  30.222620  171.568008   24.729272  30.409092
2015-01-05   23.577576  30.222620  168.469589   24.110152  30.817894
2015-01-06   23.579798  30.452120  166.882767   23.839428  30.796373
2015-01-07   23.910437  30.832241  168.962357   24.010294  30.918304
2015-01-08   24.829128  31.205175  171.960541   24.886824  31.248208
...                ...        ...         ...         ...        ...
2024-12-24  257.286682  61.939281  597.729492  257.296626  61.939281
2024-12-26  258.103729  61.673149  597.769348  259.179926  61.840714
2024-12-27  254.685883  61.554871  591.476868  257.784897  62.047704
2024-12-30  251.307861  61.140888  584.727173  252.603266  61.446446
2024-12-31  249.534164  61.367588  582.599915  252.384048  61.535153

Price                          Low                               Open  \
Ticker             SPY        AAPL         KO         SPY        AAPL
Date
2015-01-02  172.779008   23.821673  29.978773  170.524052   24.718176
2015-01-05  170.682773   23.391175  30.179590  168.160582   24.030265
2015-01-06  169.304741   23.218089  30.294339  166.081002   23.641931
2015-01-07  169.304778   23.677434  30.538191  167.768076   23.788387
2015-01-08  172.177692   24.121246  30.911125  170.365385   24.238858
...                ...         ...        ...         ...         ...
2024-12-24  597.769293  254.386957  61.121176  591.934094  254.586262
2024-12-26  598.902533  256.718662  61.505588  594.528696  257.276679
2024-12-27  594.230439  252.164833  61.318309  587.252104  256.917949
2024-12-30  588.226291  249.862994  60.795906  580.939799  251.337754
2024-12-31  587.132835  248.547661  60.914182  580.949738  251.547023

Price                                 Volume
Ticker             KO         SPY       AAPL        KO        SPY
Date
2015-01-02  30.308683  172.361426  212818400   9921100  121465900
2015-01-05  30.617077  170.515742  257142000  26292600  169632600
2015-01-06  30.416261  168.778583  263188400  16897500  209151400
2015-01-07  30.695972  168.219060  160423600  13412300  125346700
2015-01-08  30.968502  170.382079  237458000  21743600  147217800
...               ...         ...        ...       ...        ...
2024-12-24  61.308456  592.520617   23234700   5019100   33160100
2024-12-26  61.722432  595.940247   27237100   7943800   41219100
2024-12-27  61.554871  593.991813   42355300   8542800   64969300
2024-12-30  61.446446  584.399176   35557500   8972200   56578800
2024-12-31  61.131030  586.407129   39480700   9256700   57052700

[2516 rows x 15 columns]